body {
    background-color: #ff9603;
    font-family: 'Barlow', sans-serif;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.main h1 {
    color: rgb(255, 230, 0);
    font-size: 10vw;
}
